<div class="wrap">
  <H3>
 From here you can configure your different banner-design plugins, create new or delete existing ones. Above each plugin is the code to insert in your posts.</H3>
  <H3><a href="http://www.hotwordpressplugins.com/">Click to view/download Hot Wordpress Plugins.</a></H3>
<br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1" />
     <input type='submit' name='' value='Create New Banner Design' />
    </form>
</div>
<hr />
